name: Deploy Frontend Prod

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [22]

    steps:
      - uses: actions/checkout@v4
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: pnpm
      - name: Install dependencies
        run: pnpm install

      - name: Build Frontend
        run: pnpm build

      - name: Add Known Hosts
        run: |
          mkdir -p ~/.ssh
          chmod 700 ~/.ssh
          ssh-keyscan -H ${{ secrets.VPS_HOST }} >> ~/.ssh/known_hosts

      - name: Upload Build to VPS
        env:
          PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          HOST: ${{ secrets.VPS_HOST }}
          USER: ${{ secrets.VPS_USER }}
        run: |
          printf '%s\n' "$PRIVATE_KEY" | tr -d '\r' > private_key
          chmod 600 private_key
          scp -i private_key -o StrictHostKeyChecking=accept-new -r dist/* $USER@$HOST:/home/$USER/frontend/cd-client/
          rm -f private_key

      # - name: Restart Nginx
      #   env:
      #     PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
      #     HOST: ${{ secrets.VPS_HOST }}
      #     USER: ${{ secrets.VPS_USER }}
      #   run: |
      #     ssh -i private_key $USER@$HOST << 'EOF'
      #     EOF
